<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<!-- hack iOS CSS :active style -->
<body ontouchstart="">
    
    {% include nav.html %}

    {{ content }}

    {% include footer.html %}
    <!-- 不蒜子计数 -->
    <div class="container" align="center">
        <p>
        <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
        <span id="busuanzi_container_page_pv"> | 访问量：<span id="busuanzi_value_page_pv"></span> 次</span>
        </p>
    </div>
    <!-- 不蒜子计数 -->


<!-- Image to hack wechat -->
<img src="/img/anita-logo.png" width="0" height="0" />
<!-- Migrate from head to bottom, no longer block render and still work -->

</body>

</html>
